In [2]:
#Author: Filip Segota
#Course: CSC310
#Professor: Scott Dempsey
#Description: Different reports on countries

In [1]:
#importing libraries
import os
import glob
import pandas as pd

In [2]:
#defining format of files to be combined
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
#combining files
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv.to_csv("combined_csv.csv", index=False)

C:\Users\filip\AppData\Local\Temp\ipykernel_8896\1236573288.py:2: DtypeWarning: Columns (0,1,2,4,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,34,36,37,38,105,107,108,109,110,112,113,114,115,116,118,119,120,121,122) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

In [4]:
#reading combined file
content = pd.read_csv('combined_csv.csv')

C:\Users\filip\AppData\Local\Temp\ipykernel_8896\2160709547.py:2: DtypeWarning: Columns (0,1,2,4,5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,34,36,37,38,105,107,108,109,110,112,113,114,115,116,118,119,120,121,122) have mixed types. Specify dtype option on import or set low_memory=False.
  content = pd.read_csv('combined_csv.csv')

In [5]:
#showing combined file
content

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3070169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#finding countries that reported their income
reported = content[(content["Source of most recent Income and expenditure data"].isnull() == False)]

In [7]:
#finding countries that didn't report their income
not_reported = content[(content["Source of most recent Income and expenditure data"].isnull() == True)]

In [8]:
reported

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
614,NaN,NaN,NaN,NaN,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,NaN,NaN,NaN,NaN,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,NaN,NaN,NaN,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,NaN,NaN,NaN,NaN,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,NaN,NaN,NaN,NaN,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535936,NaN,NaN,NaN,NaN,XKX,Kosovo,Kosovo,Republic of Kosovo,NaN,Euro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535937,NaN,NaN,NaN,NaN,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535938,NaN,NaN,NaN,NaN,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535939,NaN,NaN,NaN,NaN,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535940,NaN,NaN,NaN,NaN,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#showing countries that reported
reported['Long Name']

614        Islamic State of Afghanistan
615         People's Republic of Angola
616                 Republic of Albania
620                  Argentine Republic
621                 Republic of Armenia
                       ...
1535936              Republic of Kosovo
1535937               Republic of Yemen
1535938        Republic of South Africa
1535939              Republic of Zambia
1535940            Republic of Zimbabwe
Name: Long Name, Length: 320, dtype: object

In [11]:
#there's a lot of data rows missing - NaN rows
#needs to be cleaned up - lower in the code
not_reported

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3070169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#there's a lot of data rows missing - NaN rows
#needs to be cleaned up - lower in the code
#showing countries that didn't report
not_reported['Long Name']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
3070169    NaN
3070170    NaN
3070171    NaN
3070172    NaN
3070173    NaN
Name: Long Name, Length: 3069854, dtype: object

In [12]:
#function for finding countries
def listed(obj):
    tmp = []
    
    for i in obj["Table Name"]:
        tmp.append(i)
    return tmp

In [13]:
contributed = pd.DataFrame(listed(reported), columns=["Contributed"]).dropna()

In [15]:
contributed

      Contributed
0     Afghanistan
1          Angola
2         Albania
3       Argentina
4         Armenia
..            ...
315        Kosovo
316   Yemen, Rep.
317  South Africa
318        Zambia
319      Zimbabwe

[320 rows x 1 columns]

In [16]:
not_contributed = pd.DataFrame(listed(not_reported), columns=["Did not contribute"]).dropna()

In [17]:
not_contributed

                     Did not contribute
613                               Aruba
614                             Andorra
615                          Arab World
616                United Arab Emirates
617                      American Samoa
...                                 ...
1535616             Upper middle income
1535617  St. Vincent and the Grenadines
1535618           Virgin Islands (U.S.)
1535619                           World
1535620                           Samoa

[162 rows x 1 columns]

In [18]:
table = pd.concat([contributed, not_contributed], axis = 1, ignore_index=False)

In [19]:
table

         Contributed              Did not contribute
0        Afghanistan                             NaN
1             Angola                             NaN
2            Albania                             NaN
3          Argentina                             NaN
4            Armenia                             NaN
...              ...                             ...
1535616          NaN             Upper middle income
1535617          NaN  St. Vincent and the Grenadines
1535618          NaN           Virgin Islands (U.S.)
1535619          NaN                           World
1535620          NaN                           Samoa

[482 rows x 2 columns]

In [20]:
dollars = content[(content["Currency Unit"] == "U.S. dollar")]

In [21]:
dollars

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
622,NaN,NaN,NaN,NaN,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,NaN,NaN,NaN,NaN,ECU,Ecuador,Ecuador,Republic of Ecuador,EC,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,NaN,NaN,NaN,NaN,FSM,Micronesia,"Micronesia, Fed. Sts.",Federated States of Micronesia,FM,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,NaN,NaN,NaN,NaN,GUM,Guam,Guam,Guam,GU,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,NaN,NaN,NaN,NaN,MHL,Marshall Islands,Marshall Islands,Republic of the Marshall Islands,MH,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,NaN,NaN,NaN,NaN,MNP,Northern Mariana Islands,Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,MP,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,NaN,NaN,NaN,NaN,PLW,Palau,Palau,Republic of Palau,PW,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,NaN,NaN,NaN,NaN,PRI,Puerto Rico,Puerto Rico,Puerto Rico,PR,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
807,NaN,NaN,NaN,NaN,SLV,El Salvador,El Salvador,Republic of El Salvador,SV,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
823,NaN,NaN,NaN,NaN,TCA,Turks and Caicos Islands,Turks and Caicos Islands,Turks and Caicos Islands,TC,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,NaN,NaN,NaN,NaN,TLS,Timor-Leste,Timor-Leste,Democratic Republic of Timor-Leste,TL,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,NaN,NaN,NaN,NaN,USA,United States,United States,United States of America,US,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844,NaN,NaN,NaN,NaN,VIR,Virgin Islands,Virgin Islands (U.S.),Virgin Islands of the United States,VI,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,NaN,NaN,NaN,NaN,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535709,NaN,NaN,NaN,NaN,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535761,NaN,NaN,NaN,NaN,ECU,Ecuador,Ecuador,Republic of Ecuador,EC,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535773,NaN,NaN,NaN,NaN,FSM,Micronesia,"Micronesia, Fed. Sts.",Federated States of Micronesia,FM,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535787,NaN,NaN,NaN,NaN,GUM,Guam,Guam,Guam,GU,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535842,NaN,NaN,NaN,NaN,MHL,Marshall Islands,Marshall Islands,Republic of the Marshall Islands,MH,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535851,NaN,NaN,NaN,NaN,MNP,Northern Mariana Islands,Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,MP,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535874,NaN,NaN,NaN,NaN,PLW,Palau,Palau,Republic of Palau,PW,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535877,NaN,NaN,NaN,NaN,PRI,Puerto Rico,Puerto Rico,Puerto Rico,PR,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535894,NaN,NaN,NaN,NaN,SLV,El Salvador,El Salvador,Republic of El Salvador,SV,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535910,NaN,NaN,NaN,NaN,TCA,Turks and Caicos Islands,Turks and Caicos Islands,Turks and Caicos Islands,TC,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535916,NaN,NaN,NaN,NaN,TLS,Timor-Leste,Timor-Leste,Democratic Republic of Timor-Leste,TL,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535927,NaN,NaN,NaN,NaN,USA,United States,United States,United States of America,US,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535931,NaN,NaN,NaN,NaN,VIR,Virgin Islands,Virgin Islands (U.S.),Virgin Islands of the United States,VI,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535940,NaN,NaN,NaN,NaN,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#grouping countries by region
reported_continent = reported.groupby('Region')
continent = content.groupby('Region')

In [27]:
#function for grouping countries
def group(group):
    temp = []
    for i in group["Source of most recent Income and expenditure data"]:
            temp.append(i[0])
    return temp

In [26]:
reportedContinents = group(reported_continent)

In [28]:
reportedContinents

['East Asia & Pacific',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'North America',
 'South Asia',
 'Sub-Saharan Africa']

In [29]:
#grouping countries by region
continent = content.groupby('Region')

In [30]:
#showing countries grouped by region
for i in continent[['Long Name']]:
    print(i)

('East Asia & Pacific',                              Long Name
622                     American Samoa
624          Commonwealth of Australia
642                  Brunei Darussalam
650         People's Republic of China
683                   Republic of Fiji
...                                ...
1535917               Kingdom of Tonga
1535921                         Tuvalu
1535932  Socialist Republic of Vietnam
1535933            Republic of Vanuatu
1535935                          Samoa

[72 rows x 1 columns])
('Europe & Central Asia',                        Long Name
616          Republic of Albania
617      Principality of Andorra
621          Republic of Armenia
625          Republic of Austria
626       Republic of Azerbaijan
...                          ...
1535915             Turkmenistan
1535920       Republic of Turkey
1535924                  Ukraine
1535928   Republic of Uzbekistan
1535936       Republic of Kosovo

[114 rows x 1 columns])
('Latin America & Caribbean',                                    Long Name
613                                    Aruba
620                       Argentine Republic
623                      Antigua and Barbuda
634              Commonwealth of The Bahamas
637                                   Belize
...                                      ...
1535918      Republic of Trinidad and Tobago
1535926         Oriental Republic of Uruguay
1535929       St. Vincent and the Grenadines
1535930   República Bolivariana de Venezuela
1535931  Virgin Islands of the United States

[82 rows x 1 columns])
('Middle East & North Africa',                                          Long Name
619                           United Arab Emirates
633                             Kingdom of Bahrain
665                           Republic of Djibouti
669        People's Democratic Republic of Algeria
675                         Arab Republic of Egypt
713                       Islamic Republic of Iran
714                               Republic of Iraq
716                                State of Israel
719                    Hashemite Kingdom of Jordan
728                                State of Kuwait
731                              Lebanese Republic
733      Socialist People's Libyan Arab Jamahiriya
748                             Kingdom of Morocco
759                              Republic of Malta
782                              Sultanate of Oman
794                             West Bank and Gaza
796                                 State of Qatar
801                        Kingdom of Saudi Arabia
822                           Syrian Arab Republic
832                            Republic of Tunisia
850                              Republic of Yemen
1535706                       United Arab Emirates
1535720                         Kingdom of Bahrain
1535752                       Republic of Djibouti
1535756    People's Democratic Republic of Algeria
1535762                     Arab Republic of Egypt
1535800                   Islamic Republic of Iran
1535801                           Republic of Iraq
1535803                            State of Israel
1535806                Hashemite Kingdom of Jordan
1535815                            State of Kuwait
1535818                          Lebanese Republic
1535820  Socialist People's Libyan Arab Jamahiriya
1535835                         Kingdom of Morocco
1535846                          Republic of Malta
1535869                          Sultanate of Oman
1535881                         West Bank and Gaza
1535883                             State of Qatar
1535888                    Kingdom of Saudi Arabia
1535909                       Syrian Arab Republic
1535919                        Republic of Tunisia
1535937                          Republic of Yemen)
('North America',                         Long Name
638                  The Bermudas
646                        Canada
840      United States of America
1535725              The Bermudas
1535733                    Canada
1535927  United States of America)
('South Asia',                                           Long Name
614                    Islamic State of Afghanistan
631                 People's Republic of Bangladesh
643                               Kingdom of Bhutan
711                               Republic of India
739      Democratic Socialist Republic of Sri Lanka
752                            Republic of Maldives
778                                           Nepal
783                    Islamic Republic of Pakistan
1535701                Islamic State of Afghanistan
1535718             People's Republic of Bangladesh
1535730                           Kingdom of Bhutan
1535798                           Republic of India
1535826  Democratic Socialist Republic of Sri Lanka
1535839                        Republic of Maldives
1535865                                       Nepal
1535870                Islamic Republic of Pakistan)
('Sub-Saharan Africa',                            Long Name
615      People's Republic of Angola
627              Republic of Burundi
629                Republic of Benin
630                     Burkina Faso
644             Republic of Botswana
...                              ...
1535922  United Republic of Tanzania
1535923           Republic of Uganda
1535938     Republic of South Africa
1535939           Republic of Zambia
1535940         Republic of Zimbabwe

[96 rows x 1 columns])

In [31]:
#only certain region and only countries that reported
group = continent.get_group("East Asia & Pacific")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == False )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

               Short Name  Source of most recent Income and expenditure data
624             Australia     Expenditure survey/budget survey (ES/BS), 1994
650                 China            Integrated household survey (IHS), 2008
683                  Fiji     Expenditure survey/budget survey (ES/BS), 2009
686            Micronesia            Integrated household survey (IHS), 2000
709             Indonesia            Integrated household survey (IHS), 2013
720                 Japan                           Income survey (IS), 1993
724              Cambodia            Integrated household survey (IHS), 2011
727                 Korea     Expenditure survey/budget survey (ES/BS), 1998
730               Lao PDR     Expenditure survey/budget survey (ES/BS), 2008
763              Mongolia  Living Standards Measurement Study Survey (LSM...
769              Malaysia     Expenditure survey/budget survey (ES/BS), 2012
780           New Zealand                           Income survey (IS), 1997
786           Philippines     Expenditure survey/budget survey (ES/BS), 2012
788      Papua New Guinea         Integrated household survey (IHS), 2009/10
805       Solomon Islands         Integrated household survey (IHS), 2005/06
826              Thailand            Integrated household survey (IHS), 2011
829           Timor-Leste  Living Standards Measurement Study Survey (LSM...
830                 Tonga  2013 national accounts estimates are based on ...
834                Tuvalu  2013 national accounts estimates are based on ...
845               Vietnam            Integrated household survey (IHS), 2010
846               Vanuatu  2013 national accounts estimates are based on ...
1535711         Australia     Expenditure survey/budget survey (ES/BS), 1994
1535737             China            Integrated household survey (IHS), 2008
1535770              Fiji     Expenditure survey/budget survey (ES/BS), 2009
1535773        Micronesia            Integrated household survey (IHS), 2000
1535796         Indonesia            Integrated household survey (IHS), 2013
1535807             Japan                           Income survey (IS), 1993
1535811          Cambodia            Integrated household survey (IHS), 2011
1535814             Korea     Expenditure survey/budget survey (ES/BS), 1998
1535817           Lao PDR     Expenditure survey/budget survey (ES/BS), 2008
1535850          Mongolia  Living Standards Measurement Study Survey (LSM...
1535856          Malaysia     Expenditure survey/budget survey (ES/BS), 2012
1535867       New Zealand                           Income survey (IS), 1997
1535873       Philippines     Expenditure survey/budget survey (ES/BS), 2012
1535875  Papua New Guinea         Integrated household survey (IHS), 2009/10
1535892   Solomon Islands         Integrated household survey (IHS), 2005/06
1535913          Thailand            Integrated household survey (IHS), 2011
1535916       Timor-Leste  Living Standards Measurement Study Survey (LSM...
1535917             Tonga  2013 national accounts estimates are based on ...
1535921            Tuvalu  2013 national accounts estimates are based on ...
1535932           Vietnam            Integrated household survey (IHS), 2010
1535933           Vanuatu  2013 national accounts estimates are based on ...

In [32]:
#only certain region and only countries that didn't report
group = continent.get_group("East Asia & Pacific")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == True )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

,Short Name,Source of most recent Income and expenditure data
622,American Samoa,NaN
642,Brunei,NaN
700,Guam,NaN
703,"Hong Kong SAR, China",NaN
725,Kiribati,NaN
746,"Macao SAR, China",NaN
755,Marshall Islands,NaN
760,Myanmar,NaN
764,Northern Mariana Islands,NaN
772,New Caledonia,NaN
787,Palau,NaN
791,Dem. People's Rep. Korea,NaN
795,French Polynesia,NaN
804,Singapore,NaN
848,Samoa,NaN
1535709,American Samoa,NaN
1535729,Brunei,NaN
1535787,Guam,NaN
1535790,"Hong Kong SAR, China",NaN
1535812,Kiribati,NaN
1535833,"Macao SAR, China",NaN
1535842,Marshall Islands,NaN
1535847,Myanmar,NaN
1535851,Northern Mariana Islands,NaN
1535859,New Caledonia,NaN
1535874,Palau,NaN
1535878,Dem. People's Rep. Korea,NaN
1535882,French Polynesia,NaN
1535891,Singapore,NaN
1535935,Samoa,NaN

In [33]:
#only certain region and only countries that reported
group = continent.get_group("Europe & Central Asia")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == False )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

           Short Name  Source of most recent Income and expenditure data
616           Albania  Living Standards Measurement Study Survey (LSM...
621           Armenia            Integrated household survey (IHS), 2012
625           Austria                           Income survey (IS), 2000
626        Azerbaijan     Expenditure survey/budget survey (ES/BS), 2012
628           Belgium            Integrated household survey (IHS), 2000
...               ...                                                ...
1535915  Turkmenistan  Living Standards Measurement Study Survey (LSM...
1535920        Turkey                     Labor force survey (LFS), 2009
1535924       Ukraine     Expenditure survey/budget survey (ES/BS), 2009
1535928    Uzbekistan     Expenditure survey/budget survey (ES/BS), 2011
1535936        Kosovo            Integrated household survey (IHS), 2011

[92 rows x 2 columns]

In [34]:
#only certain region and only countries that didn't report
group = continent.get_group("Europe & Central Asia")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == True )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

              Short Name Source of most recent Income and expenditure data
617              Andorra                                               NaN
648      Channel Islands                                               NaN
662               Cyprus                                               NaN
685       Faeroe Islands                                               NaN
698            Greenland                                               NaN
710          Isle of Man                                               NaN
715              Iceland                                               NaN
738        Liechtenstein                                               NaN
744           Luxembourg                                               NaN
749               Monaco                                               NaN
808           San Marino                                               NaN
1535704          Andorra                                               NaN
1535735  Channel Islands                                               NaN
1535749           Cyprus                                               NaN
1535772   Faeroe Islands                                               NaN
1535785        Greenland                                               NaN
1535797      Isle of Man                                               NaN
1535802          Iceland                                               NaN
1535825    Liechtenstein                                               NaN
1535831       Luxembourg                                               NaN
1535836           Monaco                                               NaN
1535895       San Marino                                               NaN

In [35]:
#only certain region and only countries that reported
group = continent.get_group("Latin America & Caribbean")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == False )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

,Short Name,Source of most recent Income and expenditure data
620,Argentina,"Integrated household survey (IHS), 2012"
637,Belize,"Expenditure survey/budget survey (ES/BS), 2011"
639,Bolivia,"Integrated household survey (IHS), 2009"
640,Brazil,"Integrated household survey (IHS), 2012"
649,Chile,"Integrated household survey (IHS), 2011"
655,Colombia,"Integrated household survey (IHS), 2012"
658,Costa Rica,"Integrated household survey (IHS), 2012"
668,Dominican Republic,"Integrated household survey (IHS), 2012"
674,Ecuador,"Integrated household survey (IHS), 2012"
699,Guatemala,Living Standards Measurement Study Survey (LSM...
701,Guyana,"Integrated household survey (IHS), 1998"
704,Honduras,"Integrated household survey (IHS), 2010"
707,Haiti,"Integrated household survey (IHS), 2001"
718,Jamaica,Living Standards Measurement Study Survey (LSM...
734,St. Lucia,"Integrated household survey (IHS), 1995"
754,Mexico,"Integrated household survey (IHS), 2012"
775,Nicaragua,Living Standards Measurement Study Survey (LSM...
784,Panama,"Integrated household survey (IHS), 2011"
785,Peru,"Integrated household survey (IHS), 2012"
793,Paraguay,"Integrated household survey (IHS), 2011"
807,El Salvador,"Integrated household survey (IHS), 2012"
815,Suriname,"Expenditure survey/budget survey (ES/BS), 1999"
831,Trinidad and Tobago,"Integrated household survey (IHS), 1992"
839,Uruguay,"Integrated household survey (IHS), 2012"
843,Venezuela,"Integrated household survey (IHS), 2012"
1535707,Argentina,"Integrated household survey (IHS), 2012"
1535724,Belize,"Expenditure survey/budget survey (ES/BS), 2011"
1535726,Bolivia,"Integrated household survey (IHS), 2009"
1535727,Brazil,"Integrated household survey (IHS), 2012"
1535736,Chile,"Integrated household survey (IHS), 2011"
1535742,Colombia,"Integrated household survey (IHS), 2012"
1535745,Costa Rica,"Integrated household survey (IHS), 2012"
1535755,Dominican Republic,"Integrated household survey (IHS), 2012"
1535761,Ecuador,"Integrated household survey (IHS), 2012"
1535786,Guatemala,Living Standards Measurement Study Survey (LSM...
1535788,Guyana,"Integrated household survey (IHS), 1998"
1535791,Honduras,"Integrated household survey (IHS), 2010"
1535794,Haiti,"Integrated household survey (IHS), 2001"
1535805,Jamaica,Living Standards Measurement Study Survey (LSM...
1535821,St. Lucia,"Integrated household survey (IHS), 1995"
1535841,Mexico,"Integrated household survey (IHS), 2012"
1535862,Nicaragua,Living Standards Measurement Study Survey (LSM...
1535871,Panama,"Integrated household survey (IHS), 2011"
1535872,Peru,"Integrated household survey (IHS), 2012"
1535880,Paraguay,"Integrated household survey (IHS), 2011"
1535894,El Salvador,"Integrated household survey (IHS), 2012"
1535902,Suriname,"Expenditure survey/budget survey (ES/BS), 1999"
1535918,Trinidad and Tobago,"Integrated household survey (IHS), 1992"
1535926,Uruguay,"Integrated household survey (IHS), 2012"
1535930,Venezuela,"Integrated household survey (IHS), 2012"

In [36]:
#only certain region and only countries that didn't report
group = continent.get_group("Latin America & Caribbean")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == True )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

,Short Name,Source of most recent Income and expenditure data
613,Aruba,NaN
623,Antigua and Barbuda,NaN
634,The Bahamas,NaN
641,Barbados,NaN
659,Cuba,NaN
660,Curaçao,NaN
661,Cayman Islands,NaN
666,Dominica,NaN
697,Grenada,NaN
726,St. Kitts and Nevis,NaN
747,St. Martin (French part),NaN
790,Puerto Rico,NaN
820,Sint Maarten (Dutch part),NaN
823,Turks and Caicos Islands,NaN
842,St. Vincent and the Grenadines,NaN
844,Virgin Islands,NaN
1535700,Aruba,NaN
1535710,Antigua and Barbuda,NaN
1535721,The Bahamas,NaN
1535728,Barbados,NaN
1535746,Cuba,NaN
1535747,Curaçao,NaN
1535748,Cayman Islands,NaN
1535753,Dominica,NaN
1535784,Grenada,NaN
1535813,St. Kitts and Nevis,NaN
1535834,St. Martin (French part),NaN
1535877,Puerto Rico,NaN
1535907,Sint Maarten (Dutch part),NaN
1535910,Turks and Caicos Islands,NaN
1535929,St. Vincent and the Grenadines,NaN
1535931,Virgin Islands,NaN

In [37]:
#only certain region and only countries that reported
group = continent.get_group("Middle East & North Africa")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == False )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

,Short Name,Source of most recent Income and expenditure data
665,Djibouti,"Priority survey (PS), 2002"
669,Algeria,"Integrated household survey (IHS), 1995"
675,Egypt,"Expenditure survey/budget survey (ES/BS), 2011"
713,Iran,"Expenditure survey/budget survey (ES/BS), 2005"
714,Iraq,"Integrated household survey (IHS), 2007"
716,Israel,"Expenditure survey/budget survey (ES/BS), 2001"
719,Jordan,"Expenditure survey/budget survey (ES/BS), 2010"
748,Morocco,"Expenditure survey/budget survey (ES/BS), 2007"
794,West Bank and Gaza,"Integrated household survey (IHS), 2009"
822,Syrian Arab Republic,"Expenditure survey/budget survey (ES/BS), 2004"
832,Tunisia,"Integrated household survey (IHS), 2010"
850,Yemen,"Expenditure survey/budget survey (ES/BS), 2005"
1535752,Djibouti,"Priority survey (PS), 2002"
1535756,Algeria,"Integrated household survey (IHS), 1995"
1535762,Egypt,"Expenditure survey/budget survey (ES/BS), 2011"
1535800,Iran,"Expenditure survey/budget survey (ES/BS), 2005"
1535801,Iraq,"Integrated household survey (IHS), 2007"
1535803,Israel,"Expenditure survey/budget survey (ES/BS), 2001"
1535806,Jordan,"Expenditure survey/budget survey (ES/BS), 2010"
1535835,Morocco,"Expenditure survey/budget survey (ES/BS), 2007"
1535881,West Bank and Gaza,"Integrated household survey (IHS), 2009"
1535909,Syrian Arab Republic,"Expenditure survey/budget survey (ES/BS), 2004"
1535919,Tunisia,"Integrated household survey (IHS), 2010"
1535937,Yemen,"Expenditure survey/budget survey (ES/BS), 2005"

In [38]:
#only certain region and only countries that didn't report
group = continent.get_group("Middle East & North Africa")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == True )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

,Short Name,Source of most recent Income and expenditure data
619,United Arab Emirates,NaN
633,Bahrain,NaN
728,Kuwait,NaN
731,Lebanon,NaN
733,Libya,NaN
759,Malta,NaN
782,Oman,NaN
796,Qatar,NaN
801,Saudi Arabia,NaN
1535706,United Arab Emirates,NaN
1535720,Bahrain,NaN
1535815,Kuwait,NaN
1535818,Lebanon,NaN
1535820,Libya,NaN
1535846,Malta,NaN
1535869,Oman,NaN
1535883,Qatar,NaN
1535888,Saudi Arabia,NaN

In [39]:
#only certain region and only countries that reported
group = continent.get_group("Sub-Saharan Africa")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == False )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

           Short Name  Source of most recent Income and expenditure data
615            Angola            Integrated household survey (IHS), 2008
627           Burundi  Core Welfare Indicator Questionnaire Survey (C...
629             Benin  Core Welfare Indicator Questionnaire Survey (C...
630      Burkina Faso  Core Welfare Indicator Questionnaire Survey (C...
644          Botswana  Expenditure survey/budget survey (ES/BS), 2009/10
...               ...                                                ...
1535922      Tanzania  Expenditure survey/budget survey (ES/BS), 2011/12
1535923        Uganda                      Priority survey (PS), 2009/10
1535938  South Africa     Expenditure survey/budget survey (ES/BS), 2010
1535939        Zambia            Integrated household survey (IHS), 2010
1535940      Zimbabwe         Integrated household survey (IHS), 2011/12

[92 rows x 2 columns]

In [40]:
#only certain region and only countries that didn't report
group = continent.get_group("Sub-Saharan Africa")
reportGroup = group[(group["Source of most recent Income and expenditure data"].isnull() == True )]
reportGroup[["Short Name","Source of most recent Income and expenditure data"]]

        Short Name Source of most recent Income and expenditure data
767      Mauritius                                               NaN
809        Somalia                                               NaN
1535854  Mauritius                                               NaN
1535896    Somalia                                               NaN

In [41]:
#sorting the data
sort_region = content.sort_values(["Region"], ascending=True)
sort_countries = sort_region.sort_values(["Short Name"], ascending=True)
sort_show = sort_countries[["Region", "Short Name", "Source of most recent Income and expenditure data"]].dropna()
sort_show

,Region,Short Name,Source of most recent Income and expenditure data
1535701,South Asia,Afghanistan,"Integrated household survey (IHS), 2008"
614,South Asia,Afghanistan,"Integrated household survey (IHS), 2008"
1535703,Europe & Central Asia,Albania,Living Standards Measurement Study Survey (LSM...
616,Europe & Central Asia,Albania,Living Standards Measurement Study Survey (LSM...
1535756,Middle East & North Africa,Algeria,"Integrated household survey (IHS), 1995"
...,...,...,...
850,Middle East & North Africa,Yemen,"Expenditure survey/budget survey (ES/BS), 2005"
1535939,Sub-Saharan Africa,Zambia,"Integrated household survey (IHS), 2010"
852,Sub-Saharan Africa,Zambia,"Integrated household survey (IHS), 2010"
853,Sub-Saharan Africa,Zimbabwe,"Integrated household survey (IHS), 2011/12"
1535940,Sub-Saharan Africa,Zimbabwe,"Integrated household survey (IHS), 2011/12"